<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145980373643-rfgb47erkqpo1ju19q3ru69oa6a7vnpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145980373643-rfgb47erkqpo1ju19q3ru69oa6a7vnpl</string>
	<key>API_KEY</key>
	<string>AIzaSyBxUY1B6nrmwvVLoWlQg9IWu10GcDccC_g</string>
	<key>GCM_SENDER_ID</key>
	<string>145980373643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.candyStore</string>
	<key>PROJECT_ID</key>
	<string>candy-store-df71b</string>
	<key>STORAGE_BUCKET</key>
	<string>candy-store-df71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145980373643:ios:619fdef226e49f5334b28e</string>
</dict>
</plist>